:root {
    --black:#632A50;
    --black_a:#632a509f;
    --light-grey:#8B9EB7;
    --light-grey_a:#8b9eb7af;
    --light-blue:#91F5AD;
    --light-blue_a:#91f5adcc;
    --yellow:#C2E812;
    --purple:#745296;
    --purple_a:#745296c2;
}